.pyc
__pycache__/
hexstrike-env/
.mcp.json
hexstrike_config.json

# GET A BETTER EXP - 'log'
tool_logger.log
hexstrike.log
log-*

# TO REMOVE
im_scared/*
core.*
kubectl
.claude/*
prompts/
paper_todo.md
report*
